@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #0095f6;
    --secondary: #0065f6;
    --darkGray: #1d1d1f;
    --mediumGray: #303030;
    --mediumGray2: #555;
    --lightGray: #9e9e9e;
    --lightGray2: #aeaeae;
    --lightGray3: #dadada;
    --lightGray4: #ebebeb;
    --dimWhite: #fafbfc;
    --toastify-toast-width: 400px;
    --toastify-toast-min-height: 60px;
    --toastify-toast-bd-radius: 5px;
    --toastify-icon-color-success: transparent;
    --toastify-icon-color-error: transparent;
}

.Toastify__toast-theme--light.Toastify__toast--success {
    background: white;
    color: black;
    font-weight: 400;
    text-align: center;
}

.Toastify__toast-theme--light.Toastify__toast--error {
    background: white;
    color: black;
    font-weight: 400;
    text-align: center;
}

.Toastify__toast-theme--light.Toastify__toast--success::before {
    background-color: #07bc0c;
    height: 100%;
    width: 15px;
}

.Toastify__toast-theme--light.Toastify__toast--error::before {
    background-color: red;
    height: 100%;
    width: 15px;
}

.Toastify__close-button {
    transition: none;
    visibility: hidden;
    color: black;
    opacity: 1;
}

.Toastify__toast:hover .Toastify__close-button {
    visibility: visible;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    transition: 0.1s linear;
    background-color: white;
    color: var(--primary);
}

.btn-fill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    transition: 0.1s linear;
    background-color: var(--primary);
    color: white;
}

.btn-fill:hover {
    background-color: var(--secondary);
}

.btn:hover {
    background-color: var(--primary);
    color: white;
}

.input-theme {
    border-bottom: 2px solid var(--lightGray3);
    padding: 0.1rem 0.5rem;
}

.input-theme:focus {
    outline: none;
    border-bottom-color: var(--primary);
}

.placeholder {
    position: absolute;
    left: 0.4rem;
    top: 0;
    color: #6e6e6e;
    pointer-events: none;
    transition: 0.1s linear;
}

.placeholder.active {
    top: -24px;
    left: 0;
    font-size: 13px;
    counter-reset: var(--primary);
}

.input-theme:focus + .placeholder {
    top: -24px;
    left: 0;
    font-size: 13px;
    color: var(--primary);
}

.heading {
    display: flex;
    font-weight: bold;
    font-size: 30px;
    color: var(--darkGray);
    gap: 0.9rem;
}

.heading:before {
    content: "";
    width: 20px;
    height: 35px;
    background-color: var(--primary);
    border-radius: 4px;
    align-self: center;
}

.fade-in {
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start with a slight downward offset */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth fade-in */
}

.fade-in.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

.fade-in.loaded {
    opacity: 1; /* Fully opaque when loaded */
}

.Navbar {
    position: relative;
}

@media (max-width: 600px) {
    .MuiDrawer-paper {
        width: 250px; /* Adjust width for mobile */
    }

    .MuiButtonBase-root {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
